.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff; 
  color: black;
  font-family: sans-serif;
  overflow: hidden;
}

.dashboard-main {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dashboard-heading {
  text-align: center;
  margin-top: 60px;
}

.dashboard-heading h1 {
  font-weight: 300;
  margin-bottom: 5px;
  color: grey;
}

.dashboard-heading h2 {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.report-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 60px;
}

.report {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 35px;
}

.report-item {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-label {
  margin: 15px 0 5px 0;
  font-size: 1rem;
}

.report-count {
  font-size: 1.5rem;
  font-weight: bold;
}