.report-details-user-page{
    width: 100vw;
    background-color: #ffffff;
    color: black;
    font-family: sans-serif;
    overflow: hidden;
    display: flex; /* Subject to Change */
} 

.report-details-content {
    height: 100%;
    overflow-y: auto;
    flex: 1;
    padding: 30px;
    display: flex; /* Subject to Change */
    flex-direction: column; /* Subject to Change */
    gap: 30px; /* Subject to Change */
    max-width: 900px; /* Subject to Change */
    margin-left: 250px; /* Subject to Change */
}

.two-column {
    display: flex;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea, input, select {
    width: 100%;
    padding: 8px;
}