.search-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.search-input-wrapper {
  flex: 2;              
  display: flex;
  margin-top: 7px;    
}

.search-filter-container input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1;
}

.search-filter-container select {
  flex: 1;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1;
}